{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

<!-- Section feature Start -->
{{ if $data.pricing.feature.enable }}
{{ partial "feature.html" . }}
{{ end }}
<!-- Section feature END -->

{{ if $data.pricing.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}

<!-- Appointment Embed -->

{{ if $data.pricing.appointment.enable }}
<section class="row justify-content-center">
    <div class="col-12 mx-auto">
      <h2 class="text-center my-2">Book A Free Consultation</h2>
      <script src="https://asset-tidycal.b-cdn.net//js/embed.js" defer></script>
    <div id="tidycal-embed" data-path="absolutely-gorgeous-interiors/free-30-minute-interior-construction-consultation"></div>
    </div>
  </section>
{{ end }}

<!-- End Appointment Embed-->

{{ end }}